<div class="page page-home">
  <app-header class="page__header"></app-header>
  <div class="container">
    <div class="category" *ngIf="categories">
      <div
        class="category__item card bg-white mb-5"
        *ngFor="let c of categories"
      >
        <div class="card-header bg-white fs-1 font-bold">
          {{ c.name }}
        </div>
        <div class="card-body">
          <div class="product">
            <div class="product__item" *ngFor="let p of c.products">
              <div class="product__item-image">
                <div><img alt="" [src]="p.img" /></div>
              </div>
              <div class="product__item-name">{{ p.name }}</div>
              <div
                class="text-decoration-line-through fs-3 text-danger"
                *ngIf="p.realPrice !== p.price"
              >
                {{ p.price | currency: "£":"symbol" }}
              </div>
              <div class="fs-3 text-danger">
                {{ p.realPrice | currency: "£":"symbol" }}
              </div>
              <small class="text-muted"
                >Available Quantity: {{ p.quantity }}</small
              >
              <button
                class="btn btn-primary"
                (click)="addToCart(p)"
                [disabled]="p.quantity <= 0"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
